body{
    display: flex;
    align-items: flex-end;
    min-height: 100vh;
}

footer{
    display: flex;
    flex: 1;
    background-color: tomato;
    height: 8rem;
    width: 100vw;
    align-items: center;
    justify-content: center ;
    color: white;
    
}
