*{
    margin: 0;
}

header{
    display: flex;
    padding: 2rem;
    background-color: aquamarine;
}

a{ 
    text-decoration: none;
    }
nav:nth-child(1){
    flex: 2;
}


nav{
    display: flex;
    justify-content: space-between;
    
    
}
ul{
    display: flex;
    list-style: none;
    gap: .8rem;
    font-weight: lighter;
    align-items: center;
}
.contact{
    background-color: black;
    color: rgb(255, 254, 254);
    padding: 5px;
}
