* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: antiquewhite;
    scroll-behavior: smooth;
    

}
body{
    height: 80%vh;
    width: 100%vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: peachpuff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 5% 0;
    font-size: large;
    box-shadow: 0px 2px 4px burlywood;
}

h1{
    border-bottom: solid 1px salmon;
    width: fit-content;
    font-family: 'Ephesis', cursive;
    letter-spacing: 2px;
    
}



article>h2{
    color: orange;
    margin: 10% 0 5% 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    }
.navLinks{
    list-style: none;
    
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
    
}
a{
    color: rgb(22, 6, 1);
}
.navLinks li a{
    transition: all 0.3s ease 0s;
    border: none;
    text-decoration: none;
}
.navLinks li a:hover{
    color: orangered;
}
p,img{
    display: inline-block;
    height: 80vh;
}
p{
    padding: 0 30px 0 30px;
    font-size: 25px;
    margin-left: 30px;
    line-height: 35px;
}
.oResto{
    display: flex;
}

.aComida{
    display: flex;
}

.sobreNos{
    display: flex;
}

#resto{
    text-align: center;
    margin-bottom: 5%;
   
}

#quemSomos{
    margin-left: 58%;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 20%vh;
    width: 100%vw;
    background-color: rgb(253, 186, 127);
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    margin-top: 30%;
}